html,
body {
  height: 100%;
}
body {
  margin: 0%;
  padding: 0%;
}
nav {
  background-color: #ff7171;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-evenly;
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a  {
  font-weight: bold;
  font-size: large;
  color: black;
  text-decoration: none;
}

.main {
  background-image: linear-gradient(120deg, #fff4b0, #ffabf7);
  width: 100%;
  height: 100%;
  display: flex;
}
.text {
  width: 50%;
  padding-top: 4%;
  padding-left: 4%;
}
.imgdiv1 {
  width: 50%;
}
#img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#but {
  padding-top: 10%;
}
button {
  color: white;
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 12%;
  padding-left: 12%;

  background-color: #ff7171;
}
button:hover {
  background-color: tomato;
}

nav > a {
  font-weight: 600;
}
#text11 > p {
  padding-top: 2%;
  padding-right: 3%;
  word-wrap: break-word;
  line-height: 1.5em;
  font-family: TT Norms Pro;
}
#topic {
  font-size: large;
  letter-spacing: 0.3em;
  font-family: TT Norms Bold;
}
/* second div */
.box {
  background-image: linear-gradient(120deg, #fff4b0, #ffabf7);
  width: 100%;
  display: flex;
  margin: 0%;
  padding: 0%;
  height: 100%;
}
.text2 > p {
  font-family: TT Norms Pro;
}

.container {
  width: 50%;
  display: grid;
  margin-top: 10%;
  padding-left: 5%;
  grid-template-rows: 40% 40%;
  grid-template-columns: 40% 40%;
  grid-gap: 1%;
}
.div1 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.div2 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  object-fit: cover;
}

.div3 {
  grid-row: span 2;
  grid-column: span 1;
  object-fit: cover;
}

#im1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#im2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#im3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textarea {
  width: 50%;
  padding-top: 20%;
}
.text2 {
  background-color: #ff7171;
  word-wrap: break-word;
  width: 70%;
  padding: 1%;
}

#arrowbut {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 750px) {
  body {
    margin: 0%;
    padding: 0%;
  }
  a {
    font-weight: 200;
    font-size: small;
  }
  #but {
    padding-top: 1%;
  }
  .text {
    padding-top: 0%;
    padding-left: 0%;
    height: 50%;
    width: 100%;
  }
  .imgdiv1 {
    height: 50%;
    width: 100%;
  }
  #text11 {
    padding: 0%;
  }
  #text11 > p {
    padding-top: 0%;
    padding-right: 0%;
  }
  #topic {
    padding: 0%;
  }
  #but {
    padding-top: 0%;
  }

  .main {
    background-image: linear-gradient(120deg, #fff4b0, #ffabf7);
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .box {
    flex-direction: column;
    background-image: linear-gradient(120deg, #fff4b0, #ffabf7);
  }
  .container {
    width: 100%;
    height: 50%;
    padding-left: 2%;
    margin-top: 10%;
  }
  .textarea {
    height: 50%;
    width: 100%;
    padding-top: 0%;
    padding-left: 2%;
  }
  .text2 {
    word-wrap: break-word;
    width: 80%;
    padding: 1%;
  }
}
@media screen and (max-width: 500px) {
  a {
    font-size: x-small;
  }
  #text11 > p {
    font-size: smaller;
    padding-left: 0.5%;
  }
  #topic {
    font-size: small;
    padding-left: 0.5%;
  }
}
@media screen and (min-width: 1500px) {
  a {
    font-size: x-large;
  }
  #text11 > p {
    font-size: x-large;
    padding-left: 0.5%;
  }
}